version: "2.2"

# IP address: 10.123.252.230

# Node 1: 10.123.252.230
# Node 2: 10.123.252.197
# Node 3: 10.123.252.206

volumes:
  hadoop_namenode:
  hadoop_datanode:
  kafka:

networks:
  default:
    name: big-data-network
  namenode-private:

services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    #container_name: namenode
    hostname: namenode
    restart: always
    ports:
      - 9870:9870
      - 9000:9000
    volumes:
      - ./hadoop_spark_kafka/etc/hosts:/etc/hosts
      - ./stream-in:/stream-in
      - hadoop_namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop_spark_kafka/hadoop-vm.env
    networks:
      - namenode-private

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode-1
    hostname: datanode-1
    restart: always
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
      - ./hadoop_spark_kafka/etc/hosts:/etc/hosts
    ports:
      - 9864:9864
      - 9866:9866
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    env_file:
      - ./hadoop_spark_kafka/hadoop-vm.env

  kafka:
    image: confluentinc/cp-kafka:7.2.1
    container_name: kafka-1
    hostname: kafka-1
    ports:
      - 9092:9092
    expose:
      - '9092'
    volumes:
      - ./hadoop_spark_kafka/etc/hosts:/etc/hosts
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181 # Node 2
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "EXTERNAL:PLAINTEXT"
      KAFKA_LISTENERS: EXTERNAL://:9092
      KAFKA_ADVERTISED_LISTENERS: "EXTERNAL://kafka-1:9092"
      KAFKA_INTER_BROKER_LISTENER_NAME: EXTERNAL
      KAFKA_BROKER_ID: 0
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_PARTITION_ASSIGNMENT_STRATEGY: org.apache.kafka.clients.consumer.RoundRobinAssignor
    restart: unless-stopped
  
  # schema-registry:
  #   image: confluentinc/cp-schema-registry:7.3.0
  #   ports:
  #     - "6969:6969"
  #   environment:
  #     SCHEMA_REGISTRY_HOST_NAME: 10.123.252.206
  #     SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 10.123.252.230:9092
  #     SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:6969

  spark-worker:
    image: bde2020/spark-worker:3.3.0-hadoop3.3
    container_name: spark-worker-1
    #hostname: spark-worker-1
    volumes:
      - ./hadoop_spark_kafka/etc/hosts:/etc/hosts
    ports:
      - 8081:8081
    restart: unless-stopped
    environment:
      - "SPARK_MASTER=spark://10.123.252.206:7077" # Node 3

  commits-transformation:
    image: commits-transformation
    container_name: commits-transformation
    depends_on:
      - kafka
    build: 
      context: ./SparkTransformation/commitsTransformation
    restart: on-failure
    volumes:
      - ./hadoop_spark_kafka/etc/hosts:/etc/hosts
    environment:
      - DAAB_SPARK_URL=spark-master:7077
      - DAAB_NAMENODE_URL=namenode:9000
      - DAAB_KAFKA_URL=kafka-1:9092,kafka-2:9092,kafka-3:9092