version: "2.2"

# IP address: 10.123.252.206

# Node 1: 10.123.252.230
# Node 2: 10.123.252.197
# Node 3: 10.123.252.206

volumes:
  hadoop_namenode:
  hadoop_datanode:
  kafka:

networks:
  default:
    name: big-data-network

services:

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    restart: always
    volumes:
      - hadoop_datanode:/hadoop/dfs/data
    ports:
      - 9864:9864
    environment:
      SERVICE_PRECONDITION: "10.123.252.230:9870"
    env_file:
      - ./hadoop_spark_kafka/hadoop-vm.env

  kafka:
    image: confluentinc/cp-kafka:7.2.1
    container_name: kafka
    ports:
      - 9092:9092
    expose:
      - '9092'
    environment:
      KAFKA_ZOOKEEPER_CONNECT: 10.123.252.197:2181 # Node 2
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "EXTERNAL:PLAINTEXT"
      KAFKA_LISTENERS: EXTERNAL://10.123.252.206:9092
      KAFKA_ADVERTISED_LISTENERS: "EXTERNAL://10.123.252.206:9092"
      KAFKA_INTER_BROKER_LISTENER_NAME: EXTERNAL
      KAFKA_BROKER_ID: 2
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_PARTITION_ASSIGNMENT_STRATEGY: org.apache.kafka.clients.consumer.RoundRobinAssignor
    restart: unless-stopped

  # kowl:
  #   image: quay.io/cloudhut/kowl:master # We use the master tag as we want to use the latest features e.g. creation of topics.
  #   ports:
  #     - 8000:8080
  #   restart: unless-stopped
  #   depends_on:
  #     - kafka
  #   environment:
  #     KAFKA_BROKERS: 10.123.252.206:9092

  # spark-master:
  #   image: bde2020/spark-master:3.3.0-hadoop3.3
  #   container_name: spark-master
  #   ports:
  #     - 8080:8080
  #     - 7077:7077
  #   environment:
  #     - INIT_DAEMON_STEP=setup_spark
